@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
@import "tailwindcss";



/* Then your custom CSS */
:root {
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

/* Hero card style */
.hero-card {
  @apply bg-white/95 backdrop-blur-sm rounded-2xl border border-green-50 shadow-xl p-5;
}
